<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".NewNote"></activity>
        <activity android:name=".SchemesActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".PeriodTrackerActivity" />
        <activity android:name=".InstructionActivity" />
        <activity android:name=".DestinationActivity" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".NotesActivity"  android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity android:name=".ExcerciseActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".singupScreen" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".loginScreen" />
        <activity android:name=".NoInternetActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddReminder"
            android:label="Reminder"
            android:parentActivityName=".ReminderActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReminderActivity" />
        </activity>

        <provider
            android:name=".data.AlarmReminderProvider"
            android:authorities="com.example.womenapp"
            android:exported="false" />

        <service
            android:name=".reminder.ReminderAlarmservice"
            android:exported="false" />
    </application>

</manifest>